/* Footer */
.footer {
  box-sizing: border-box;
  display: flex;
  background-color: #1f1f1f;
  min-height: 350px;
  padding: 60px 0 40px;
  color: white;

}

/* Общий контейнер в Footer контента */
.footer__columns {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/* Контейнер под логотип и автора */
.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Логотип */
.logo_place_footer {
  background-image: url(../../../images/logo_place_footer.svg);
}

/* Автор */
.footer__author {
  margin: 0;
  padding: 18px 0 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

/* Информация о Практикуме */
.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;

}

/* Контейнер под иконки и ссылки */
.footer__column-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px 0 16px;
}

/* Ссылки  */
.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}

/* Иконки */
.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
