.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

/* logo в header */
.logo {
  width: 228px;
  height: 32px;

}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../../../images/logo_place_header.svg);
}

/* Заголовок в header */
.header__title {
  width: 730px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  margin: 0;
  padding: 0;
  margin-left: 64px;

}
  /* Параграф в header */
.header__subtitle {
  width: 388px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  margin: 0;

}
/* ссылка в параграфе */
.header__link {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  text-decoration: none;
  color: #2f80ed;
}

/* илюстрация в header в нижнем правом углу */
.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  object-fit: cover;
}

/*cиний квадрат ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: -2;
}
