.video {
  margin: 0 ;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;


}
.video__iframes {
  margin: 0 auto;
  margin-top: 50px;

}

.video__iframe {
  margin: 0;
  padding: 0;
  border: none;
  max-width: 515px;
  max-height: 316px;
  margin-right: 20px;

}
.video__iframe:last-child {
  margin-right: 0;
}
